
@model ASP_Net_MVC_MultiLanguage_Example.Models.Registration 
<div style="padding:5px">

    @{
        foreach (var i in ASP_Net_MVC_MultiLanguage_Example.LanguageMang.AvailableLanguage)
        {
            @Html.ActionLink(i.LanguageFullName, "ChangeLanguage", "Home", new { lang = i.LanguageCultureName }, null) <text> </text>
        }
    }
</div> 
<div>
    <h1>
        @ASP_Net_MVC_MultiLanguage_Example.Resource.Saludo
    </h1>
</div>